/*responsive*/
/* 1180px ~ */

@media screen and (min-width:1180px) {

    /*header*/
    header {
        width: 100%;
        height: 130px;
    }

    .header-main {
        width: 1180px;
        height: 130px;
        margin: 0 auto;
    }

    .header-logo {
        float: left;
        width: 288px;
        height: 80px;
        margin: 23px 0 27px 20px;
        background-image: url(../images/グループ\ 1@2x.png);
        background-size: contain;
    }

    .header-right {
        width: 290px;
        height: 60px;
        margin: 34px 0 36px 0;
        float: right;
    }

    .header-time {
        width: 290px;
        height: 19px;
        line-height: 19px;
        font-size: 14px;
    }
    
    .header-phone {
        margin-top: 9px;
        display: flex;
        float: right;
    }
    
    .phone-logo {
        width: 24px;
        height: 24px;
        margin: 8px 4px 0 0;
    }
    
    .phone-number {
        width: 171px;
        height: 32px;
        font-size: 23px;
        color: #21A937;
    }

    /*----------------------------------------------------*/
    /*main*/
    /*belief-content*/
    .belief-content {
        width: 100%;
        height: 664px;
        position: relative;
    }

    .belief-main {
        width: 1180px;
        height: 664px;
        position: relative;
        margin: 0 auto;
    }

    .belief-image {
        width: 690px;
        height: 420px;
        float: right;
        border-radius: 10px;
        position: relative;
        top: 162px;
        left: 0px;
    }

    .belief-text1 {
        width: 276px;
        height: 32px;
        font-size: 22px;
        position: relative;
        z-index: 4;
        top: 195px;
        left: 53px;
    }
    
    .belief-underline1 {
        width: 276px;
        height: 10px;
        background-color: #99E5A5;
        position: relative;
        z-index: 3;
        top: 186px;
        left: 31px;
    }
    
    .belief-text2 {
        width: 216px;
        height: 32px;
        font-size: 22px;
        position: relative;
        z-index: 4;
        top: 220px;
        left: 31px;
    }
    
    .belief-underline2 {
        width: 216px;
        height: 10px;
        background-color: #99E5A5;
        position: relative;
        z-index: 3;
        top: 211px;
        left: 31px;
    }
    
    .belief-text3 {
        width: 364px;
        height: 135px;
        font-size: 14px;
        line-height: 36px;
        position: relative;
        top: 250px;
        left: 31px;
    }

    /*----------------------------------------------------*/
    /*treatment-content*/
    .treatment-content {
        width: 100%;
        height: auto;
        min-height: 1520px;
        position: relative;
        background-color: #F5FCF8;
    }

    .treatment-main {
        width: 1180px;
        height: auto;
        min-height: 1520px;
        position: relative;
        margin: 0 auto;
    }

    .treatment-title {
        width: 96px;
        height: 32px;
        font-size: 24px;
        margin: 0 auto;
        position: relative;
        top: 80px;
        z-index: 4;
    }

    .treatment-underline {
        width: 103px;
        height: 10px;
        background-color: #99E5A5;
        margin: 0 auto;
        position: relative;
        z-index: 3;
        top: 74.5px;
    }

    .treatment-consultation {
        width: 390px;
        height: 21px;
        font-size: 14px;
        margin: 0 auto;
        position: relative;
        top: 143px;
    }

    .disease {
        width: 1180px;
        height: 591px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        position: relative;
        top: 178px;
    }

    .disease-box {
        width: 376px;
        height: 587px;
        border: 2px solid #C9C9C9;
        border-radius: 10px;
        background-color: white;
    }

    .cardiovascular {
        margin: 0 20px;
    }

    .news-title {
        width: 96px;
        height: 32px;
        font-size: 24px;
        margin: 0 auto;
        position: relative;
        z-index: 4;
        top: 261px;
    }

    .news-underline {
        width: 103px;
        height: 10px;
        background-color: #99E5A5;
        margin: 0 auto;
        position: relative;
        z-index: 3;
        top: 255.5px;
    }

    .news-lists {
        width: 1180px;
        min-height: 359.5px;
        position: relative;
        top: 322px;
        background-color: white;
        border-radius: 30px;
        box-shadow: 0 3px 6px 0 #D6D6D6;
        padding-top: 30.5px;
        margin-bottom: 112px;
    }

    .news {
        width: 1048px;
        height: 62px;
        border-bottom: 2px solid #E7E7E7;
        margin: 0 auto;
        display: flex;
        align-items: center;
    }

    .news-caption {
        max-width: 1048px;
        height: 21px;
        font-size: 14px;
    }

    /*----------------------------------------------------*/
    /*footer*/
    footer {
        width: 100%;
        height: 799px;
    }

    .footer-main {
        width: 1180px;
        height: 799px;
        display: flex;
        flex-direction: row;
        margin: 0 auto;
    }

    .footer-map {
        width: 608px;
        height: 440px;
        margin: 196px 0 163px 0;
    }

    .footer-info {
        width: 572px;
        height: 398.5px;
        margin: 190px 0 173px 0;
    }

    .footer-logo {
        width: 288px;
        height: 80px;
        margin: 0 0 0 34px;
        background-image: url(../images/グループ\ 1@2x.png);
        background-size: contain;
    }
}
