/*responsive*/
/* 1919px ~ 1180px */

@media screen and (max-width:1919px) and (min-width:1180px) {

    /*body*/
    body {
        width: 100%;
        margin: 0 auto;
    }

    /*----------------------------------------------------*/
    /*main*/
    /*top-content*/
    .top-content {
        width: 100%;
        height: auto;
        position: relative;
        z-index: 0;
    }

    .top-image {
        width: 100%;
        height: auto;
        margin: 0 auto;
        z-index: 1;
        position: relative;
    }

    .top-heading {
        width: 17px;
        font-size: 17px;
        display: flex;
        flex-direction: row;
        writing-mode: vertical-rl;
        -webkit-writing-mode: vertical-rl;
        -moz-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
        -ms-writing-mode: vertical-rl;
        align-items: center;
        background-color: white;
        position: absolute;
        top: 82px;
        z-index: 2;
    }

    .top-left {
        height: 294px;
        padding: 12.3px 22.7px 40.5px 22.7px;
        left: 129.7px;
    }

    .top-right {
        height: 273.4px;
        padding: 12.3px 22.7px 61.4px 22.7px;
        left: 241.5px;
    }
}
